html, body {
  margin: 20px;
}
a {
  cursor:pointer;
}
a.card.Common{
  color: #0faf03
}
a.card.Rare {
  color: #198eff;
}
a.card.Epic {
  color: #ab48ee;
}
a.card.Legendary {
  color: #f07000;
}
a.card.Basic {
  color: #8E8E8E;
}
.hover-image img{
  display:none;
  white-space: nowrap;
  position:absolute;
  width: 140px;
  height: auto;
}
.active {
  color:#E6CC80 !important;
  font-weight: bold;
}
body.loading .main-container {
  text-align: center;
  margin-top: 10%;
}
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #bebebe;
  background: -moz-linear-gradient(left, #bebebe 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #bebebe 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #bebebe 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #bebebe 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #bebebe 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #bebebe;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
