html, body {
  background: #2b2b2b;
}
a {
  cursor:pointer;
}
a.card.Common, table .Common{
  color: #0faf03
}
a.card.Rare, table .Rare {
  color: #198eff;
}
a.card.Epic, table .Epic {
  color: #ab48ee;
}
a.card.Legendary, table .Legendary {
  color: #f07000;
}
a.card.Basic {
  color: #8E8E8E;
}
.hover-image img{
  display:none;
  white-space: nowrap;
  position:absolute;
  width: 140px;
  height: auto;
}
.active {
  color:#198eff !important;
  font-weight: bold;
}
body.loading .main-container {
  text-align: center;
  margin-top: 10%;
}
.loader {
  font-size: 10px;
  margin: 50px auto;
  position: relative;
}
.login.menu {
  float:right;
  margin-top: 20px;
  color: #bebebe;
}
.logo {
  float:left;
  margin-left: 30px;
}
.main.container {
  margin-top:75px;
  background: url('/images/paper-bg.jpg') no-repeat top center fixed;
  background-size: cover;
  border-radius:14px;
  padding-top: 14px;
  padding-bottom: 14px;
  min-height: 80vh;
}
.hr.break {
  clear:both;
  border-radius:2px;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.2);
  height: 3px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  margin:1.5em 0;
}
.main-container {
  clear:both;
}
.card-count {
  width:30px;
  text-align:center;
  margin:0 auto;
  height: 16px;
}
ul.main-navbar {
  margin-right: 12px;
}
.messages{
  clear:both;
}
.km-banner {
  width: 100%;
  text-align: center;
  margin: 60px 0;
}
.km-banner img, .km-banner h3 {
  margin:0 auto;
}
.km-content {
  padding:24px;
}
.vcenter {
  display: flex;
  align-items: center;
  height:250px;
}
hr.style-two {
    border: 0 !important;
    height: 1px !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
table.km-table {
  background:#fff;
}
.km-table th {
  padding:4px;
}
.center-align {
  text-align:center;
}
.km-deck-table {
  background:rgba(255,255,255,0.3);
}
