<div class="container">
  <div class="logo" id='title'>{{#link-to "index"}}<img src="/images/logo.png" alt="My Hearth">{{/link-to}}</div>
  <div class="login menu">
    {{#if session.isAuthenticated}}
      Logged in as {{ session.content.user_email}}
      <button {{ action 'invalidateSession' }} class="btn btn-default">Logout</button>
    {{else}}
      {{#link-to 'login' class="btn btn-default"}}Login{{/link-to}}
    {{/if}}
  </div>
  <div class="main container">
    <ul class="nav nav-pills navbar-right">
      <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
      {{#if session.isAuthenticated}}
        <li role="presentation">{{#link-to 'collection'}}Collection{{/link-to}}</li>
        <li role="presentation">{{#link-to 'packs'}}Pack Info{{/link-to}}</li>
        <li role="presentation">{{#link-to 'stats'}}Collection Stats{{/link-to}}</li>
        <li role="presentation">{{#link-to 'deckslist'}}Decks{{/link-to}}</li>
        {{#if session.admin}}
          <li role="presentation">{{#link-to 'scrape'}}Scrape{{/link-to}}</li>
        {{/if}}
      {{/if}}
    </ul>
    <div id="messages"></div>

    <div class="main-container">
      {{outlet}}
    </div>
  </div>
</div>
