{{#link-to "deckslist" (query-params playerClass=null)}}All{{/link-to}}
{{#link-to "deckslist" (query-params playerClass="Druid")}}Druid{{/link-to}}
{{#link-to "deckslist" (query-params playerClass="Hunter")}}Hunter{{/link-to}}
{{#link-to "deckslist" (query-params playerClass="Mage")}}Mage{{/link-to}}
{{#link-to "deckslist" (query-params playerClass="Paladin")}}Paladin{{/link-to}}
{{#link-to "deckslist" (query-params playerClass="Priest")}}Priest{{/link-to}}
{{#link-to "deckslist" (query-params playerClass="Rogue")}}Rogue{{/link-to}}
{{#link-to "deckslist" (query-params playerClass="Shaman")}}Shaman{{/link-to}}
{{#link-to "deckslist" (query-params playerClass="Warlock")}}Warlock{{/link-to}}
{{#link-to "deckslist" (query-params playerClass="Warrior")}}Warrior{{/link-to}}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Common</th>
      <th>Rare</th>
      <th>Epic</th>
      <th>Legendary</th>
      <th>Total</th>
      <th>Dust Cost</th>
      <th>Dust Needed</th>
    </tr>
  </thead>
  <tbody>
    {{#each filteredDecks as |deck|}}
      {{deck-preview model=model deck=deck cardDecks=deck.cardDecks cardUsers=model.cardUsers session=session}}
    {{/each}}
  </tbody>
</table>
