<div class="km-banner">
  <img src="/images/HearthstoneLogo.png" class="img-responsive">
  <h1>Manage and maximize your Hearthstone Collection</h1>
</div>

<hr class="style-two">

<div class="km-content">
  <div class="row vcenter">

    <div class="col-sm-4">
      <img src="/images/HS_on_Phone_2.png" class="img-responsive">
    </div>
    <div class="col-sm-8">
      <h3>Manage your collection on any device - mobile, PC, or Mac.</h3>
    </div>

  </div>

  <hr class="style-two">

  <div class="row vcenter">

    <div class="col-sm-8">
      <h3>Compare your collection to some of the most popular decks out there so that you can find decks that work for you!</h3>
    </div>
    <div class="col-sm-4">
      <img src="/images/Blackwing_Lair.png" class="img-responsive img-rounded">
    </div>

  </div>

  <hr class="style-two">

  <div class="row vcenter">

    <div class="col-sm-4">
      <img src="/images/HearthstoneLogo.png" class="img-responsive">
    </div>
    <div class="col-sm-8">
      <h3>See stats about your collection and get recommendations about how to improve your collection.</h3>
    </div>

  </div>
</div>
