<div class="jumbotron">
  <h1>Maximize and manage your Hearthstone Collection</h1>
</div>

<div class="row">

  <div class="col-sm-4">
    <img src="/images/HS_on_Phone_2.png" class="img-responsive">
    <p>Manage your collection on any device - mobile, PC, or Mac.</p>
  </div>

  <div class="col-sm-4">
    <img src="/images/Blackwing_Lair.png" class="img-responsive">
    <p>Compare your collection to some of the most popular decks out there so that you can find decks that work for you!</p>
  </div>

  <div class="col-sm-4">
    <img src="/images/HearthstoneLogo.png" class="img-responsive">
    <p>See stats about your collection and get recommendations about how to improve your collection.</p>
  </div>

</div>
