<h3>Pack information</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      {{pack-values cards=model.cards cardUsers=model.cardUsers title="Classic"}}
    </div>
    <div class="col-sm-4">
      {{pack-values cards=model.cards cardUsers=model.cardUsers title="Goblins vs Gnomes"}}
    </div>
    <div class="col-sm-4">
      {{pack-values cards=model.cards cardUsers=model.cardUsers title="The Grand Tournament"}}
    </div>
  </div>
</div>
