<h3>Pack information</h3>

<h1 class="center-align">You should buy: {{bestPack}}</h1>

  <div class="row">
    <div class="col-sm-4">
      <h4>Classic</h4>
      <img class="img-responsive" src="/images/classic.png" alt="Classic">
      {{pack-values cards=model.cards cardUsers=model.cardUsers title="Classic" packValueSet="packValueSet"}}
    </div>
    <div class="col-sm-4">
      <h4>Goblins vs Gnomes</h4>
      <img class="img-responsive" src="/images/gvg.png" alt="GVG">
      {{pack-values cards=model.cards cardUsers=model.cardUsers title="Goblins vs Gnomes" packValueSet="packValueSet"}}
    </div>
    <div class="col-sm-4">
      <h4>The Grand Tournament</h4>
      <img class="img-responsive" src="/images/tgt.png" alt="TGT">
      {{pack-values cards=model.cards cardUsers=model.cardUsers title="The Grand Tournament" packValueSet="packValueSet"}}
    </div>
  </div>
